body {
    height: auto;
}

img {
    max-width: 400px;
}

.container {
    margin: 30px auto 0px;
    padding: 0px 30px 40px;
    align-content: center;
    text-align: center;
    border-radius: 40px;
}